---
name: Generate Spring Boot property migration recipes

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 11 * * MON

jobs:
  update-migrations:
    runs-on: ubuntu-latest
    if: github.event_name != 'schedule' || github.repository_owner == 'openrewrite'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          cache: 'gradle'
          distribution: 'temurin'
          java-version: '17'

      # Generate Spring Boot property migrations recipes
      - name: Create jar and copy dependencies
        uses: gradle/actions/setup-gradle@v4
        with:
          arguments: generatePropertyMigrationRecipes

      # Create pull request
      - name: Timestamp
        run: echo "NOW=$(date +'%Y-%m-%dT%H%M')" >> $GITHUB_ENV
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          base: main
          branch: migrations/${{ env.NOW }}
          title: "[Auto] Spring Boot property migration recipes as of ${{ env.NOW }}"
          body: |
            [Auto] Old GroupId migrations as of ${{ env.NOW }}.
          commit-message: "[Auto] Spring Boot property migration recipes as of ${{ env.NOW }}"
          labels: enhancement
      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
